
<link rel="stylesheet" href="/stylesheets/flash.css">
<% if (error && error.length) { %> 

    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-container">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
        </button>
    </div>

<% }%>