<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="log in image">
                <br>
                <h5 class="card-title" style=" padding-left: 1rem; "> Register </h5>
                <div class="card-body">
                    <form action="/register" class="row g-3 validated-form" id="form" novalidate method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username <sup> *</sup></label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="form-label" for="email">Email <sup> *</sup></label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="form-label" for="password">Password <sup> *</sup></label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <button class="btn btn-dark btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function validateEmail(){
            let email = document.querySelector('#email').value;
            let field = document.querySelector('#textValidation');
            const pattern = /^[^ ]+@[^]+\.[a-z]{2,3}$/;
            if ( !email.match(pattern) ) {
            
                field.classList.add('invalid');
                field.classList.remove('valid');
            }else{
                field.classList.add('valid')
                field.classList.remove('invalid');
            }
        }

    </script>
</div>


<!-- https://www.youtube.com/watch?v=HzJngc-Se9Q&t=207s&ab_channel=OnlineTutorials -->